input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200,200,200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.first-name,
.last-name{
  width: 148px;
}

.email{
  display: block;
  width: 148px;
}

.sign-up {
  background-color: rgb(47,127,231);
  border: none;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
}